@use "@/styles/vars.scss" as *;

.item {
	width: 100%;

	&:first-child > a {
		padding-top: 0;
	}

	&:last-child > a {
		padding-bottom: 0;
		border: 0;
	}

	> a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 0;
		width: 100%;
		border-bottom: 1px solid;
		font-size: 21px;
		font-weight: 700;
		color: $text-color;

		span {
			font-size: 18px;
			font-weight: 400;
		}
	}
}